:root {
  --near-white: #F2F2F2;
  --near-black: #222222;
  --dark: #33292d; 
  --less-dark: #524046;
  --dark-color: #263566;
  --accent: #a53860;
  --light: #f2e9ed;
  --less-light: #decccf;
  /* semantic */
  --text-color-dark: #33292d; 
  --main-color: #524046;
  --dark-color: #263566;
  --accent-color: #a53860;
  --background-color: #f2e9ed;
  --nav-color: #decccf;
  --bg-overlay: rgba(255, 255, 255, 0.2);
  --lighter-bg-overlay: rgba(255, 255, 255, 0.4);
}

a {
  color: var(--main-color);
  text-decoration: none;
  cursor: pointer;
}

body {
  background: linear-gradient(30deg, #D9AFD9 30%, #97D9E1 60%);
  color: var(--text-color-dark);
  display: flex;
  flex-direction: column;
}

body > * {
  padding: 1rem;
}

h1, 
h2 {
  color: var(--accent-color);
  line-height: 100%;
  margin-bottom: 0.5rem;
}

p {
  max-width: 70ch;
  margin-bottom: 0.5rem;
}

main {
  flex: 1;
  display: flex;
  gap: 0.8rem;
}

.sidebar,
.content {
  border-radius: 1rem;
  padding: 1.5rem;
}

.sidebar {
  background-color: var(--bg-overlay);
  width: 250px;
}

.content {
  flex-grow: 1;
  background-color: var(--lighter-bg-overlay);
}


/* Medium screens */
@media (max-width: 580px) {
  main {
    flex-direction: column;
  }
  .sidebar,
  .content {
    width: 100%;
  }
}